.content{margin:auto;}
body{background-color: indigo;}

h2{background-color: #1c1c1c;
color:#ffffff;
padding:10px;
font-family: arial;
text-align: center;}

.btn{height:30px;
width:90px;
color:#ffffff;
background-color: dodgerblue;
border:none;
padding:5px;
border-radius: 5px;}

.card{padding:15px;
margin:auto;
max-width:300px;
max-height:150px;
text-align: center;
background-color: #ffffff;
border-radius: 5px;} 

h3{color:dodgerblue;
font-family: helvetica;}
.quote{
margin:30px 10px 10px 10px;
padding:15px;
font-family: segoe ui;
background-color: #f2f2f2;}

img{height:25px;
width:25px;
}